@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  padding: 0.5em, 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  border: 2px solid $color-white;

  font-size: 18px;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    min-width: 250px;

    background-color: rgba($color-white, 0.1);
  }

  &--primary {
    min-width: 350px;

    border: 2px solid $color-primary;
    background-color: rgba($color-primary, 0.8);
  }
}


.hidden {
  @include visually-hidden;
}
