@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 250px;
  height: 60px;
  padding: 0.5em, 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  border: 2px solid $color-white;
  background-color: rgba($color-white, 0.1);

  font-size: 18px;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
