@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: $color-primary;

  font-family: $font-main;
  font-size: $font-size;
}

body {
  color: $color-primary;
  background-color: $color-white;
}

a {
  text-decoration: none;

  color: $color-white;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2em;
}














// @use "../presets" as *;
// @use "../mixins" as *;
