@use "../../presets" as *;
@use "../../mixins" as *;

.header-logo {
  letter-spacing: 0.25em;

  font-size: 24px;



  &__accent {
    display: inline-block;

    margin-right: 7px;
    padding: 17px 5px 17px 5px;

    border: 3px solid #d53d27;
  }
}
