@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  flex-grow: 1;

  &__btn {
   // ЭТО СТИЛЬ БУРГЕР МЕНЮ
   position: relative;
    align-items: center;
   display: flex;
   justify-content: center;
    width: 50px;
    height: 50px;
    margin: 25px 0 25px auto;
    
    cursor: pointer;
    transition: all .2s ease-in-out;
    border:3px solid #fff;

    @include md-min{
      display: none;
    }

    &-row{
      position: absolute;
      display: block;
      background: #fff;
      width: 25px;
      height: 4px;
      
      border-radius: 3px;
      transition: all .2s ease-in-out; 
      &::before, &::after{
        content: ''; 
        position: absolute;
        width: 25px;
        height: 4px;
        background: #fff;
        border-radius: 3px;
        transition: all .2s ease-in-out;
      }
      &::before{
        transform: translateY(-8px);
      }
      &::after{
        transform: translateY(8px);
      } 
    }

 &--active {
  border: 3px solid #fa00c4;
  // стили для активного состояния
  .header-navbar__btn-row {
    transform: translateX(-25px);
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(17.5px, -17.5px);
      background: #fa00c4;
    }

    &:after {
      transform: rotate(-45deg) translate(17.5px, 17.5px);
      background: #fa00c4;
    }
  }

  }
}
   
  &__list {
    

    @include md-min{
      @include unlist(0 -10px 0 0);
      display: grid;
      justify-content: end;
      gap: $gap;
      grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
      
    }
    @include md{
      display: none; 
     
      background-color: rgba($color-gray-dark, 0.95);
      position: absolute;
      right: 20px;
      top: 100%;
      text-align: right;
      overflow: hidden;
      @include unlist; 
      @include box-shadow;  
      
    }
    
    
  }

  &__item {

    @include md{
      margin: $gap;
    }
  }

  &__link {
    display: block;
    font-size: 1.125rem;
    letter-spacing: 0.09em;
    transition: color 0.5s;

    @include md-min{
      padding: $gap $gap-sm;
    }

    @include md{
      padding: $gap-sm $gap;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

  







