@use "../../presets" as *;
@use "../../mixins" as *;

.header{
  position: relative;
  background-color: $color-primary;
  background-image: url(../images/img-header.png);
  background-size: cover;
  min-height: 100vh;
  color: $color-white;
  display: grid;
  align-items: center;
  padding: 150px 0;
}






