@use "../../presets" as *;
@use "../../mixins" as *;


.header-navbar {
  flex-grow: 1;

  &__btn {
   // ЭТО СТИЛЬ БУРГЕР МЕНЮ
    width: 50px;
    height: 50px;
    margin: 25px 0 25px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border:3px solid #fff;

    @include md-min{
      display: none;
    }
  

    &-row{
      display: block;
      width: 25px;
      height: 4px;
      position: absolute;
      background: #fff;
      border-radius: 3px;
      transition: all .2s ease-in-out; 
      &::before, &::after{
        content: ''; 
        position: absolute;
        width: 25px;
        height: 4px;
        background: #fff;
        border-radius: 3px;
        transition: all .2s ease-in-out;
      }
      &::before{
        transform: translateY(-8px);
      }
      &::after{
        transform: translateY(8px);
      }
     
    }
    
  
  }
  
   
       
  &__list {
    @include md{
      display: none;
    }
    display: grid;
    justify-content: end;

    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    // display: flex;
    // justify-content: flex-end;
    @include unlist(0 -20px 0 0);
  }

  &__item {
    margin: $gap $gap-sm;
  }

  &__link {
    display: block;

    padding: $gap $gap-sm;

    transition: color 0.5s;
    letter-spacing: 0.1em;

    font-size: 18px;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

// ВПИСАТЬ В ПРАВИЛА
.header-navbar__btn--active .header-navbar__btn-row{
  transform: translateX(-25px);
  background: transparent;} 
  .header-navbar__btn--active .header-navbar__btn-row:before{
  transform: rotate(45deg) translate(17.5px, -17.5px);
background: #fa00c4;
}
.header-navbar__btn--active .header-navbar__btn-row:after{
  transform: rotate(-45deg) translate(17.5px, 17.5px);
background: #fa00c4;
} 
.header-navbar__btn--active {
  border: 3px solid #fa00c4;
}

  







